<template id="category-button-template">
    <div class="btn-group w-100 mt-2 mb-2" role="group" aria-label="Horizontal Primary">
        <button type="button" class="btn btn-lg" id="phoenix-category-button" style="width:70%;">
            <div class="bg-gamemode align-right" id="phoenix-background-container"></div>
            <div class="media d-flex align-items-center push">
                <div class="media-body text-left mr-2">
                    <h5 class="font-w600 mb-1 pt-2 font-size-lg" id="phoenix-name-header"></h5>
                    <h5 class="font-w400 font-size-sm mb-1 text-white">&nbsp;</h5>
                    <div id="phoenix-description-container"></div>
                    <h5 class="font-w400 font-size-sm mb-1 text-white">&nbsp;</h5>
                </div>
            </div>
        </button>
    </div>
</template>
