<template id="character-selection-page-template">
    <div class="text-center mb-3" id="phoenix-category-header">
        <h1 class="font-w700 mb-2 text-white">Select a Category</h1>
        <h5 class="font-w300 mb-2 text-white">
            Choose a mode category that best fits your play style.
        </h5>
        <h5 class="font-w300 mb-2 text-white">
            If you are new to the game, start with the Classic Melvor Gamemodes.
        </h5>
    </div>

    <div class="row no-gutters justify-content-center">
        <div class="col-12 col-md-8" id="phoenix-category-container"></div>
    </div>

    <div
            class="text-center mb-3"
            id="phoenix-gamemode-header"
            style="display:none;"
    >
        <h1 class="font-w700 mb-2 text-white">Select your Gamemode.</h1>
    </div>

    <div
            class="row no-gutters justify-content-center"
            id="phoenix-gamemode-container"
            style="display:none;"
    >
        <div class="col-12 col-md-8" id="phoenix-gamemode-selection-button">
            <button
                    role="button"
                    class="btn btn-sm btn-warning btn-cloud-sign-in-back js-click-ripple-enabled"
                    data-toggle="click-ripple"
                    onclick="game.phoenixgamemanager.openStyleInterface();"
                    style="overflow: hidden; position: relative; z-index: 1;"
            >
                <i class="fa fa-fw fa-arrow-left opacity-50"></i>
                <span class="ms-1">Go back to Category Selection</span>
            </button>
        </div>
        <div class="col-12 col-md-8" id="phoenix-gamemode-selection"></div>
        <div
                class="col-12 col-md-8"
                id="gamemode-selection"
                style="display:none;"
        ></div>
    </div>
</template>
